absl-py==2.3.1
accessible-pygments==0.0.5
alabaster==1.0.0
apeye==1.4.1
apeye-core==1.1.5
argcomplete==3.1.4
attrs==25.4.0
autodocsumm==0.2.14
babel==2.17.0
backrefs==6.1
beautifulsoup4==4.14.2
blinker==1.9.0
CacheControl==0.14.4
camelot-py==1.0.9
certifi==2025.11.12
cffi==2.0.0
chardet==5.2.0
charset-normalizer==3.4.4
click==8.3.1
colorama==0.4.6
coloredlogs==15.0.1
contourpy==1.3.3
coverage==7.13.2
cryptography==46.0.3
cssutils==2.11.1
cycler==0.12.1
dbus-python==1.3.2; platform_system == "Linux"
defusedxml==0.7.1
Deprecated==1.3.1
dict2css==0.3.0.post1
distro==1.9.0
docopt==0.6.2
docutils==0.21.2
domdf_python_tools==3.10.0
et_xmlfile==2.0.0
filelock==3.20.3
Flask==3.1.2
flatbuffers==25.9.23
fonttools==4.60.1
freetype-py==2.3.0
furo==2025.12.19
ghp-import==2.1.0
graphviz==0.21
greenlet==3.2.4
grip==4.6.2
html5lib==1.1
httplib2==0.20.4
humanfriendly==10.0
idna==3.11
ImageIO==2.37.2
imageio-ffmpeg==0.6.0
imagesize==1.4.1
img2pdf==0.6.3
iniconfig==2.3.0
itsdangerous==2.2.0
jax==0.8.1
jaxlib==0.8.1
Jinja2==3.1.6
joblib==1.5.2
kiwisolver==1.4.9
launchpadlib==1.11.0
lazr.restfulclient==0.14.6
lazr.uri==1.0.6
lazy_loader==0.4
lxml==6.0.2
magika==0.6.3
Markdown==3.10
markdown-it-py==4.0.0
markdownify==1.2.2
markitdown==0.1.3
marko==2.2.1
MarkupSafe==3.0.3
matplotlib==3.10.7
mdit-py-plugins==0.5.0
mdurl==0.1.2
mediapipe==0.10.14
mergedeep==1.3.4
mistune==3.1.4
mkdocs==1.6.1
mkdocs-get-deps==0.2.0
mkdocs-material==9.7.0
mkdocs-material-extensions==1.3.1
ml_dtypes==0.5.4
more-itertools==10.8.0
mpmath==1.3.0
msgpack==1.1.2
myst-parser==5.0.0
natsort==8.4.0
networkx==3.5
numpy==2.3.5
oauthlib==3.2.2
odfpy==1.4.1
onnxruntime==1.20.1; sys_platform == "win32"
opencv-contrib-python==4.11.0.86
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
openpyxl==3.1.5
opt_einsum==3.4.0
packaging==25.0
paginate==0.5.7
pandas==2.3.3
path-and-address==2.0.1
pathspec==0.12.1
pdf2image==1.17.0
pdfkit==1.0.0
pdfminer.six==20251107
pdfplumber==0.11.8
pikepdf==10.0.2
pillow==12.0.0
pipx==1.4.3
platformdirs==4.5.0
playwright==1.56.0
pluggy==1.6.0
protobuf==4.25.8
psutil==7.1.3
pycairo==1.29.0
pycparser==2.23
pyee==13.0.0
pyenchant==3.3.0
Pygments==2.19.2
PyGObject==3.48.2; platform_system == "Linux"
PyJWT==2.7.0
pymdown-extensions==10.17.1
pyoo==1.4
pyparsing==3.2.5
pypdf==5.9.0
pypdfium2==5.0.0
pytesseract==0.3.13
pytest==9.0.2
pytest-cov==7.0.0
python-apt==2.7.7+ubuntu5; platform_system == "Linux"
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.2.1
python-pptx==1.0.2
pytz==2025.2
PyYAML==6.0.3
pyyaml_env_tag==1.1
reportlab==4.4.5
requests==2.32.5
rlPyCairo==0.4.0
roman==5.2
roman-numerals==4.1.0
roman-numerals-py==4.1.0
ruamel.yaml==0.18.16
ruamel.yaml.clib==0.2.15
scikit-image==0.25.2
scikit-learn==1.7.2
scipy==1.16.3
seaborn==0.13.2
setuptools==68.1.2
six==1.17.0
snowballstemmer==3.0.1
sounddevice==0.5.3
soupsieve==2.8
Sphinx==8.2.3
sphinx-autodoc-typehints==3.5.2
sphinx-basic-ng==1.0.0b2
sphinx-copybutton==0.5.2
sphinx-jinja2-compat==0.4.1
sphinx-notfound-page==1.1.0
sphinx-prompt==1.10.2
sphinx-tabs==3.4.5
sphinx-toolbox==4.1.2
sphinx_design==0.7.0
sphinx_rtd_theme==3.1.0
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-plantuml==0.31
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
sphinxcontrib-spelling==8.0.2
sympy==1.14.0
tabula-py==2.10.0
tabulate==0.9.0
threadpoolctl==3.6.0
tifffile==2025.10.16
typing_extensions==4.15.0
tzdata==2025.2
unoserver==3.5
urllib3==2.5.0
userpath==1.9.1
wadllib==1.3.6
Wand==0.6.13
watchdog==6.0.0
webencodings==0.5.1
Werkzeug==3.1.3
wheel==0.42.0
wrapt==2.0.1
xlsxwriter==3.2.9
